@media (min-width: 993px) {

    .croki90-logo-Reviews {
        background-color: #F2F2F2;
        margin-top: -40px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        /* position: relative; */
    }

    html body.croki90 .croki90-Wrapper-inner {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        /* gap: 12px; */
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.13);
    }

    html body.croki90 .croki90-header {
        background-color: #fff;
        padding: 13.5px 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #fff;
        cursor: pointer;
        /* border-radius: 16px; */
        gap: 32px;
    }

    html body.croki90 .croki90-header-text {
        color: #000;
        font-family: 'Poppins';
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px;
    }

    html body.croki90 .croki90-content:not(.croShow) svg.cro-icon-open {
        display: none;
    }

    html body.croki90 .croki90-content.croShow svg.cro-icon-close {
        display: none;
    }

    html body.croki90 .croki90-drop-down {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transform: translateY(-20px);
        transition: max-height .6s ease, opacity .4s ease, transform .6s ease;
        padding-left: 16px;
    }

    html body.croki90 .croki90-drop-down-text,
    html body.croki90 .croki90-drop-down-text li,
    html body.croki90 .croki90-drop-down-text p {
        color: #000;
        font-family: 'Poppins';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 100%;
        max-width: 95%;
    }

    html body.croki90 .croki90-drop-down-text p {
        margin-bottom: 10px
    }

    html body.croki90 .croki90-content.croShow .croki90-header {
        /* border-radius: 16px 16px 0px 0px; */
        padding-bottom: 0 !important;
        position: relative;
        z-index: 99;
    }

    html body.croki90 .croShow .croki90-drop-down {
        max-height: 1800px;
        /* max-height: fit-content; */
        opacity: 1;
        transform: translateY(0);
        background-color: #fff;
        padding: 15px 16px 24px;
        /* border-radius: 0px 0px 16px 16px; */
        /* padding-top: 0; */
        position: relative;
        z-index: 9;
    }

    html body.croki90 .croki90-header-icon {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    html body.croki90 .croki90-header-icon svg {
        width: 23px;
        height: 23px;
    }

    html body.croki90 .croki90-content {
        border-bottom: 1px solid #D6D6D6;
    }

    html body.croki90 .croki90-content1 .croki90-header {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    html body.croki90 .croki90-content8 .croki90-header {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

    }

    html body.croki90 .croki90-content8 {
        border-bottom: 0;
    }

    html body.croki90.cro-faq-ortho .croki90-drop-down-text.text-2,
    html body.croki90.cro-faq-ortho .croki90-drop-down-text.text-3 {
        display: none;
    }

    html body.croki90.cro-faq-implant .croki90-drop-down-text.text-3,
    html body.croki90.cro-faq-implant .croki90-drop-down-text.text-1 {
        display: none;
    }

    html body.croki90.cro-faq-aesthetic .croki90-drop-down-text.text-1,
    html body.croki90.cro-faq-aesthetic .croki90-drop-down-text.text-2 {
        display: none;
    }

    /* html body.croki90 ul.croki90-feature-items {
        list-style: none;
        padding-left: 0;
        margin: 0;
    } */

    html body.croki90 .croki90-drop-down ul {
        margin-bottom: 0;
    }

    html body.croki90 .croki90-content.croki90-content5 {
        width: 100%;
    }

    html body.croki90 .croki90-Wrapper-inner .croki90-content {
        width: 100%;
    }

    html body.croki90 .croki90-grid-table.bordered {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        /* border: 1px solid #000; */
        border-collapse: collapse;
        gap: 0;
        margin-top: 15px;
    }

    html body.croki90 .text-2 .croki90-grid-table.bordered,
    html body.croki90 .text-3 .croki90-grid-table.bordered {
        margin-top: 0;
    }

    html body.croki90 .croki90-grid-table>div {
        /* padding: 8px 10px;
        border: 1px solid #000; */
        font-size: 16px;
        word-break: break-word;
    }

    /* html body.croki90 .croki90-content8.croShow {
        margin-bottom: 25px;
    } */


    /* ----Review-- */
    html body.croki90 .cro-review-item {
        flex: 1;
        /* padding: 21px; */
        display: flex;
        flex-direction: column;
        gap: 20px;
        /* border-radius: 12px; */
        background: #FFFFFF;
        /* box-shadow: 0px 30px 40px 0px #35314833; */
    }

    html body.croki90 .cro-review-item-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    html body.croki90 .cro-review-item-name {
        font-family: 'Poppins';
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        color: #1E1A34;
    }

    html body.croki90 .cro-review-item-date {
        color: #1E1A34;
        margin-top: 2px;
    }

    html body.croki90 .cro-review-item-header-right img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    html body.croki90 .cro-review-item-body {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    html body.croki90 .cro-review-item-stars {
        display: flex;
        gap: 2px;
    }

    html body.croki90 .cro-review-item-star {
        width: 18px;
        height: 18px;
        background: gold;
        display: inline-block;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: contain;
        -webkit-mask-position: bottom;
        margin-bottom: -2px;
        margin-right: 1px;
    }

    html body.croki90 .cro-review-item-star.star-1 {
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='20' height='22' viewBox='0 0 20 22'%3E%3Cpath d='M20.429 8.14c0 0.221-0.16 0.43-0.319 0.589l-4.456 4.346 1.056 6.138c0.012 0.086 0.012 0.16 0.012 0.246 0 0.319-0.147 0.614-0.503 0.614-0.172 0-0.344-0.061-0.491-0.147l-5.512-2.897-5.512 2.897c-0.16 0.086-0.319 0.147-0.491 0.147-0.356 0-0.516-0.295-0.516-0.614 0-0.086 0.012-0.16 0.025-0.246l1.056-6.138-4.469-4.346c-0.147-0.16-0.307-0.368-0.307-0.589 0-0.368 0.381-0.516 0.687-0.565l6.163-0.896 2.762-5.586c0.11-0.233 0.319-0.503 0.602-0.503s0.491 0.27 0.602 0.503l2.762 5.586 6.163 0.896c0.295 0.049 0.688 0.196 0.688 0.565z'%3E%3C/path%3E%3C/svg%3E%0A");
    }

    html body.croki90 .cro-review-item-content {
        font-family: 'Poppins';
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        color: #000;
        /* display: -webkit-box; */
        /* -webkit-box-orient: vertical; */
        -webkit-line-clamp: 12;
        line-clamp: 12;
        overflow: hidden;
    }

    html body.croki90 .croki90-content8 .croki90-drop-down-text.text-1 .cro-review-item.item-2 {
        margin-top: 15px;
    }

    html body.croki90 .croki90-content8 .croki90-drop-down-text.text-2 .cro-review-item.item-2,
    html body.croki90 .croki90-content8 .croki90-drop-down-text.text-3 .cro-review-item.item-2 {
        margin: 15px 0;
        border-top: 2px solid #f2f2f2;
        border-bottom: 2px solid #f2f2f2;
    }

    html body.croki90 .croki90-content8 .croki90-drop-down-text.text-1 .cro-review-item.item-2 {
        border-top: 2px solid #f2f2f2;
    }

    html body.croki90 .croki90-content8 .croki90-drop-down-text {
        max-width: 100%;
    }


    /* ------------NEW------- */
    html body.croki90:not(.cro-faq-step_2) .cro-t-whatInclude {
        display: flex;
        flex-wrap: wrap;
        max-width: 1296px;
        margin: 0 auto;
        padding-left: 0 !important;
        margin-top: 50px;
        margin-bottom: 120px;
    }

    html body.croki90:not(.cro-faq-step_2) .cro-t-whatInclude>div {

        margin-left: 0 !important;
        padding-left: 0 !important;

    }

    html body.croki90 .waf-course-registration-form-wrapper {
        flex: 0 0 auto;
        width: 65.666667%;
        max-width: 100%;
        height: fit-content;
        margin-left: 0;
        margin-right: 0;
    }

    html body.croki90:not(.cro-faq-step_2) .croki90-faq-container {
        flex: 0 0 auto;
        width: 28.333333%;
        max-width: 100%;
        margin-top: 38px;
        margin-left: 48px;
        position: absolute;
        right: 0;
        top: 224px;
        margin-right: 30px;
        /* padding-right: 30px; */
    }

    html body.croki90:not(.cro-faq-step_3, .cro-faq-step_2) .waf-course-registration-page-content {
        display: flex;
        flex-wrap: wrap;
        max-width: 1296px;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
        position: relative;
        z-index: 9;
        margin-bottom: 120px;
    }

    html body.croki90 .cro-t-whatInclude {
        display: none !important;
    }

    /* --------Step-2------ */
    .cro-faq-step_2 .bb-elementor-content [data-elementor-type="wp-page"] {
        display: flex;
        flex-wrap: wrap;
        max-width: 1296px;
        position: relative;
        margin: 0 auto;
        margin-bottom: 120px;
    }

    .cro-faq-step_2 .bb-elementor-content [data-elementor-type="wp-page"]>section.elementor-section-boxed:not(.cro-t-whatInclude) {
        flex: 0 0 auto;
        /* width: 70.666667%; */
        width: 68.666667%;

        max-width: 100%;
        margin-left: 0;
        padding: 0;
    }

    html body.croki90.cro-faq-step_2 .croki90-faq-container {
        flex: 0 0 auto;
        width: 28.333333%;
        max-width: 100%;
        margin-top: 38px;
        margin-left: 48px;
        position: absolute;
        right: 0;
        top: 235px;
    }

    .cro-faq-step_2 .bb-elementor-content [data-elementor-type="wp-page"]>section:not(.cro-t-whatInclude, .elementor-section-boxed) {
        /* left: 0 !important;
        max-width: 1296px; */
        position: initial !important;
    }

    .cro-faq-step_2 .waf-course-registration-page-content {
        padding: 0;
    }

    .cro-faq-step_2 .cro-t-whatInclude {
        padding: 0 !important;
    }

    .cro-faq-step_2 .bb-elementor-content [data-elementor-type="wp-page"]>section.elementor-section-boxed:not(.cro-t-whatInclude)>div {
        padding: 0;
    }

    /* ----Step-3----- */
    html body.croki90.cro-faq-step_3 .waf-course-registration-page-content {
        /* padding: 0; */
    }

    html body.cro-faq-step_3 .woocommerce-checkout.membership-checkout-form .bb-wc-co {
        flex-direction: column;
    }

    html body.cro-faq-step_3 .woocommerce-checkout.membership-checkout-form .bb-wc-co>.bb-wc-col {
        width: 100%;
    }

    html body.croki90.cro-faq-step_3 .croki90-faq-container {
        margin-top: 0;
        top: 0;
    }

    html body.croki90.cro-faq-step_3 .bb-elementor-content .elementor-section-boxed .elementor-container>.elementor-column {
        flex: 0 0 auto;
        width: 63.666667%;
        max-width: 100%;
        margin-left: 0;
    }

    html body.croki90 .see-more-btn {
        background-color: #fff;
        border-radius: 60px;
        border: 2px solid var(--LDi-sky_blue, #00A9E0);
        padding: 5px 16px;
        color: #00A9E0;
        text-align: center;
        font-family: 'Poppins';
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px;
        margin-top: 16px;
        transition: none;
        box-shadow: none;
    }

    /* -------New--Update---- */

    html body.croki90 :not(.croki90-content8).croki90-drop-down-text,
    html body.croki90 :not(.croki90-content2).croki90-drop-down-text {
        display: -webkit-box;
        -webkit-line-clamp: 15;
        -webkit-box-orient: vertical;
        overflow: hidden;
        transition: all 0.4s ease;
        position: relative;

    }

    html body.croki90.removeButton .croki90-drop-down.removeButton .croki90-drop-down-text {
        -webkit-line-clamp: none;
    }

    html body.croki90 .croki90-content8 .croki90-drop-down-text {
        overflow: visible;
    }

    html body.croki90 .croShow .croki90-drop-down.removeButton button.see-more-btn {
        font-size: 0;
        line-height: 0;
        transition: none;
    }

    html body.croki90 .croShow .croki90-drop-down.removeButton button.see-more-btn:after {
        content: "Read less";
        color: #00A9E0;
        text-align: center;
        font-family: 'Poppins';
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px;
        transition: none;
    }

    html body.croki90 .croki90-content2 .croki90-drop-down-text {
        overflow: visible;
        display: block;
    }

    html body.croki90.cro-faq-ortho .croki90-content4 .croki90-drop-down>button,
    html body.croki90.cro-faq-implant .croki90-content4 .croki90-drop-down>button {
        display: none;
    }

    html body.croki90 .croki90-grid-table>div:nth-child(+n+6) {
        display: none;
    }

    html body.croki90 .croki90-drop-down.removeButton .croki90-grid-table>div {
        display: block !important;
    }

    html body.croki90 .croki90-Wrapper {
        padding-bottom: 30px;
    }

    html body.croki90 .item-2 .cro-review-item-body {
        padding-bottom: 15px;
    }

    html body.croki90 .item-2 .cro-review-item-header {
        padding-top: 15px;

    }

    /* -------New----Update---Logo--- */

    html body.croki90 .croki90-cart-logo-left-img-parent {
        width: 51.986px;
        height: 32.56px;
    }

    html body.croki90 .croki90-logo-Reviews-left-wrapper {
        display: flex;
        align-items: flex-end;
        gap: 10.56px;
        justify-content: center;
    }

    html body.croki90 .croki90-logo-google-img-parent {
        width: 22.511px;
        height: 23px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    html body.croki90 .croki90-Reviews-right-text {
        color: #000;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    html body.croki90 .croki90-Reviews-right-text span {
        font-weight: 700;
    }

    html body.croki90 .croki90-Reviews-right-star {
        width: 14.702px;
        height: 14.702px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    html body.croki90 .croki90-Reviews-right-star-icon-wrapper {
        display: flex;
        align-items: center;
        gap: 2.45px;
        justify-content: center;
    }

    html body.croki90 .croki90-logo-google-img-parent img {
        width: 100%;
        height: 100%;
    }

    html body.croki90 .croki90-logo-Reviews-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    html body.croki90 .croki90-logo-Reviews-wrapper {
        padding-top: 0px;
        padding-bottom: 48px;
    }

    html body.croki90 .croki90-Reviews-right-text-star {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    html body.croki90 .croki90-logo-Reviews-right-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }

    html body.croki90 .croki90-Reviews-right-star-icon {
        margin: 0 4px;
    }
}

@media (min-width:1143px) {
    html body.croki90 .croki90-content6 .croki90-drop-down .see-more-btn {
        display: none;
    }
}

@media (min-width:993px) and (max-width:1142px) {
    html body.croki90 .croki90-content6 .croki90-drop-down .see-more-btn {
        display: block;
    }
}

@media (min-width: 1004px) {
    html body.croki90.cro-faq-aesthetic .croki90-content4 .see-more-btn {
        display: none;
    }
}

@media (min-width:993px) and (max-width:1003px) {
    html body.croki90.cro-faq-aesthetic .croki90-content4 .see-more-btn {
        display: block;
    }
}

@media (max-width: 1340px) {
    html body.croki90:not(.cro-faq-step_2) .cro-t-whatInclude {
        padding-left: 30px !important;
    }

    html body.croki90:not(.cro-faq-step_2) .croki90-faq-container {
        margin-left: 28px;
        margin-right: 28px;
    }

    html body.croki90:not(.cro-faq-step_2) .waf-course-registration-form-wrapper {
        width: 66.666667%;
    }

    html body.croki90:not(.cro-faq-step_3, .cro-faq-step_2) .waf-course-registration-page-content {
        padding: 0 30px;
    }

    .cro-faq-step_2 .waf-course-registration-page-content {
        padding: 0 30px;
    }

    html body.croki90.cro-faq-step_2 .croki90-faq-container {
        margin-right: 30px;
    }

    .cro-faq-step_2 .bb-elementor-content [data-elementor-type="wp-page"]>section.elementor-section-boxed:not(.cro-t-whatInclude) {
        padding: 0 30px;
    }

    .cro-faq-step_2 .cro-t-whatInclude {
        padding: 0 30px !important;
        z-index: 9;

    }

    html body.croki90.cro-faq-step_2 .croki90-faq-container {
        z-index: 99;
    }

}

@media (max-width:1100px) {
    html body.croki90.cro-faq-step_2 section.cro-t-whatInclude>div {
        padding-left: 0;
        max-width: 800px !important;
    }
}

@media (max-width: 992px) {
    html body.croki90 .waf-course-registration-form-wrapper {
        width: 100% !important;
    }

    .cro-faq-step_2 .bb-elementor-content [data-elementor-type="wp-page"]>section.elementor-section-boxed:not(.cro-t-whatInclude) {
        padding: 0;
    }

    .cro-faq-step_2 .cro-t-whatInclude {
        padding: 0 !important;

    }

    .croki90-faq-container,
    .croki90-logo-Reviews {
        display: none;
    }
}